@font-face {
    font-family: 'Cormorant Garamond';
     src: url("assets/fonts/Cormorant_Garamond.zip");
}

@font-face {
    font-family: 'Montserrat';
     src: url("assets/fonts/Montserrat.zip");
} 



* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    background-color: white;
    min-height: 100vh;
    padding: 0;
}

.header {
    grid-template-columns: 50% 50%;
    display: grid;
}

.data {
    width: 60%;
    margin: 19% auto;
    height: 100vh;
}

.data-name {
    font-family: Cormorant Garamond, sans-serif;
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 10px;
}

.data-profession {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 70px;
}

.width-left {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 11px;
}

.width-right { 
    font-weight: 400;
    font-size: 15px;
}

.socials {
    margin-top: 28px;
} 

.nav-link {
    color: black;
    transition: .3s;
}

.nav-link:hover {
    color: #4d6459;
}

.container-photo {
    background-color: #8ea69b;
    width: 50%;
    height: 100%;
    position: fixed;
    right: 0; 
    top: 0; 
}

.photo {
    width: 350px;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.container {
    width: 50%;
}

.small-container{
    width: 60%;
    margin: 30% auto;
    height: 80vh;
}

.title {
    font-family: Cormorant Garamond, sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
    
}

.title {
    display: flex;
    flex-direction: row;
}
.title:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

.title:after {
    margin-left: 10px
}
.description {
   line-height: 2;
   font-size: 16px;
}

.english-skills {
    height: auto;
}

.footer {
    width: 50%;
    text-align: center;
    color: #4d6459;
}
